coremltools==9.0
Flask==3.1.2
loralib==0.1.2
matplotlib==3.5.3
numpy==2.3.4
onnx==1.19.1
onnxruntime==1.23.2
onnxsim==0.4.36
opencv_python==4.9.0.80
openvino==2025.3.0
paddle==1.1.7
pafy==0.5.5
pandas==2.3.3
Pillow==12.0.0
protobuf==6.33.1
pytorch3d==0.7.5
PyYAML==6.0
PyYAML==6.0.3
Requests==2.32.5
scipy==1.16.3
seaborn==0.13.2
setuptools==68.2.2
tensorflow==2.20.0
tensorrt==10.14.1.48.post1
tflite_runtime==2.14.0
thop==0.1.1.post2209072238
torch==1.13.0
torchvision==0.14.0
tqdm==4.66.2
util==0.0.1
wandb==0.23.0
